absl-py==2.0.0
aiofiles==23.2.1
aiogram==3.2.0
aiohttp==3.9.0
aiohttp-socks==0.8.4
aiosignal==1.3.1
altair==4.2.2
altgraph==0.17.4
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
auto-py-to-exe==2.44.0
beautifulsoup4==4.12.2
blinker==1.7.0
bottle==0.12.25
bottle-websocket==0.2.9
Brotli==1.1.0
browser-cookie3==0.19.1
cachetools==5.3.2
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2024.7.4
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
coloredlogs==15.0.1
comtypes==1.2.0
configparser==7.1.0
contourpy==1.3.0
cryptography==43.0.0
cssselect2==0.7.0
curl_cffi==0.7.1
customtkinter==5.2.1
cycler==0.12.1
darkdetect==0.8.0
deep-translator==1.11.4
defusedxml==0.7.1
distro==1.9.0
duckduckgo_search==6.2.1
Eel==0.16.0
entrypoints==0.4
eval_type_backport==0.2.0
exceptiongroup==1.1.3
executor==23.2
fake-useragent==1.3.0
fastapi==0.104.1
fasteners==0.19
Flask==3.0.0
flatbuffers==23.5.26
fonttools==4.54.1
frozenlist==1.4.0
future==1.0.0
gast==0.5.4
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.25.2
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
google-translator==0.2
googletrans==3.0.0
GoogleTranslator-new==1.0
greenlet==3.0.3
grpcio==1.60.0
h11==0.14.0
h2==3.2.0
h5py==3.10.0
hpack==3.0.0
hstspreload==2024.3.1
httpcore==1.0.7
httpx==0.27.2
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jiter==0.8.0
Js2Py==0.74
jsonpath-python==1.0.6
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
keras==2.15.0
kiwisolver==1.4.7
libclang==16.0.6
loguru==0.7.2
lxml==4.9.3
lz4==4.3.2
magic-filter==1.0.12
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.9.2
mdurl==0.1.2
mistralai==1.2.3
ml-dtypes==0.2.0
mmh3==4.0.1
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
names==0.3.0
neat==0.4.1
neat-python==0.92
nest-asyncio==1.5.8
numpy==1.26.2
oauthlib==3.2.2
ollama==0.4.2
onnxruntime==1.16.3
openai==0.28.0
opencv-python==4.8.1.78
opt-einsum==3.3.0
os0==2.0.1
outcome==1.3.0.post0
packaging==23.2
pandas==1.5.3
pefile==2023.2.7
Pillow==10.1.0
platformdirs==4.0.0
plyer==2.1.0
property-manager==3.0
protobuf==3.20.3
proxy-tools==0.1.0
py-arkose-generator==0.0.0.2
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pycparser==2.21
pycryptodome==3.19.0
pycryptodomex==3.19.0
pydantic==2.10.2
pydantic_core==2.27.1
pydeck==0.8.1b0
pydub==0.25.1
PyExecJS==1.5.1
pygame==2.6.0
Pygments==2.17.0
pyinstaller==6.2.0
pyinstaller-extractor==1.0.3
pyinstaller-hooks-contrib==2023.10
pyjsparser==2.7.1
pymailtm==1.1.1
Pympler==1.0.1
pyparsing==3.1.2
PyPasser==0.0.5
pyperclip==1.8.2
pypiwin32==223
pyreadline3==3.4.1
pyreqwest_impersonate==0.5.3
PySocks==1.7.1
python-dateutil==2.8.2
python-socks==2.5.0
python-telegram-bot==21.5
pythonnet==3.0.3
pyttsx3==2.90
pytz==2023.3.post1
pywebview==5.1
pywin32==306
pywin32-ctypes==0.2.2
randfacts==0.21.0
random-username==1.0.2
random2==1.0.2
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.7.0
rpds-py==0.13.0
rsa==4.9
scipy==1.14.1
selenium==4.15.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.5
spark-parser==1.8.9
SpeechRecognition==3.8.1
starlette==0.27.0
streamlit==1.21.0
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tiktoken==0.5.1
tinycss2==1.3.0
tkinterdnd2==0.3.0
tls-client==0.2.2
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
tqdm==4.67.1
translator==0.0.9
trio==0.23.1
trio-websocket==0.11.1
TwoCaptcha==0.0.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
uncompyle6==3.9.0
urllib3==2.1.0
uvicorn==0.24.0.post1
validators==0.22.0
verboselogs==1.7
waitress==2.1.2
watchdog==3.0.0
webencodings==0.5.1
WebOb==1.8.8
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
whichcraft==0.6.1
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
xdis==6.0.5
yarl==1.9.2
z0lib==2.0.12
zipp==3.17.0
zope.event==5.0
zope.interface==6.4.post2
